<%= form_for(@reason) do |f| %>
  <% if @reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reason.errors.count, "error") %> prohibited this reason from being saved:</h2>

      <ul>
      <% @reason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :reason1 %><br>
    <%= f.text_area :reason1 %>
  </div>
  <div class="field">
    <%= f.label :reason2 %><br>
    <%= f.text_area :reason2 %>
  </div>
  <div class="field">
    <%= f.label :reason3 %><br>
    <%= f.text_area :reason3 %>
  </div>
  <div class="field">
    <%= f.label :reason4 %><br>
    <%= f.text_area :reason4 %>
  </div>
  <div class="field">
    <%= f.label :reason5 %><br>
    <%= f.text_area :reason5 %>
  </div>
  <div class="field">
    <%= f.label :reason6 %><br>
    <%= f.text_area :reason6 %>
  </div>
  <div class="field">
    <%= f.label :reason7 %><br>
    <%= f.text_area :reason7 %>
  </div>
  <div class="field">
    <%= f.label :reason8 %><br>
    <%= f.text_area :reason8 %>
  </div>
  <div class="field">
    <%= f.label :reason9 %><br>
    <%= f.text_area :reason9 %>
  </div>
  <div class="field">
    <%= f.label :reason10 %><br>
    <%= f.text_area :reason10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
