<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th width="100">Name</th>
      <th width="40">Age</th>
      <th width="200">Title</th>
      <th>Reason 1</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= reason.name %></td>
        <td><%= reason.age %></td>
        <td><%= reason.title %></td>
        <td><%= reason.reason1 %></td>
        <td><%= link_to 'Show All Reasons', reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reason', new_reason_path %>
