<div class="HeaderBox">
  <div class="HeaderText"><h1><%= "Ten Reasons" %></h1></div>
  <div class="NavigateBar"><ul>
    <a href="/"><li>Home</li></a>
    <a href="/reasons/"><li>Reasons</li></a>
    <a href="/user/login"><li>Login</li></a>
  </ul></div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reason.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @reason.age %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reason.title %>
</p>

<p>
  <strong>Reason1:</strong>
  <%= @reason.reason1 %>
</p>

<p>
  <strong>Reason2:</strong>
  <%= @reason.reason2 %>
</p>

<p>
  <strong>Reason3:</strong>
  <%= @reason.reason3 %>
</p>

<p>
  <strong>Reason4:</strong>
  <%= @reason.reason4 %>
</p>

<p>
  <strong>Reason5:</strong>
  <%= @reason.reason5 %>
</p>

<p>
  <strong>Reason6:</strong>
  <%= @reason.reason6 %>
</p>

<p>
  <strong>Reason7:</strong>
  <%= @reason.reason7 %>
</p>

<p>
  <strong>Reason8:</strong>
  <%= @reason.reason8 %>
</p>

<p>
  <strong>Reason9:</strong>
  <%= @reason.reason9 %>
</p>

<p>
  <strong>Reason10:</strong>
  <%= @reason.reason10 %>
</p>

<%= link_to 'Edit', edit_reason_path(@reason) %> |
<%= link_to 'Back', reasons_path %> |
<%= link_to 'Delete', @reason, method: :delete, data: { confirm: 'Are you sure?' } %>
