<div class="HeaderBox">
  <div class="HeaderText"><h1><%= "Ten Reasons" %></h1></div>
  <div class="NavigateBar"><ul>
    <a href="/"><li>Home</li></a>
    <a href="/reasons/"><li>Reasons</li></a>
    <a href="/user/login"><li>Login</li></a>
  </ul></div>
</div>

<h1>Login</h1>


  <% if flash[:message] %>
  <div><%= flash[:message] %></div>
  <% end %>
  
  <% if flash[:error] %>
  <div><%= flash[:error] %></div>
  <% end %>


  <%= form_tag :action => 'process_login'
%>
   Username: <%= text_field "user", "username" %>&#x00A;
    Password: <%= password_field "user", "password" %>&#x00A;
    <%= submit_tag %>
