<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300|Open+Sans' rel='stylesheet' type='text/css'>
  <title>Ten Reasons</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="Content">
	<div class="HeaderBox">
	  <div class="HeaderText"><h1><%= "Ten Reasons" %></h1></div>
	  <div class="NavigateBar"><ul>
	    <a href="/"><li>Home</li></a>
	    <a href="/reasons/"><li>Reasons</li></a>
	    <a href="/user/login"><li>Login</li></a>
	  </ul></div>
	</div>
<%= yield %>
</div>

</body>
</html>
